* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 150, 122, 0.3);
    height: 8vh;
}

.navbar .nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar .nav-links li {
    list-style-type: none;
}

.navbar .nav-links a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.navbar .nav-links a:hover {
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: auto 350px 500px auto;
    grid-template-areas: 
    ". image about ."
    ". image about ."
    ". information information ."
    ". mae-info mae-info ."
    ". school school .";
    margin-top: 70px;
}

.grid-image {
    grid-area: image;
    margin-top: 15px;
}

.grid-image img {
    border-right: 10px solid lightgray;
    border-bottom: 10px solid lightgray;
}

.grid-content {
    grid-area: about;
}

.grid-content h1 {
    font-size: 50px;
    text-transform: lowercase;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 3px;
}

.grid-content p {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    margin-top: 10px;
}

.grid-information {
    grid-area: information;
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid lightgray;
    margin-top: 55px;
}

.grid-information h1 {
    font-size: 25px;
    margin: 40px 0 20px 0;
}

.grid-maeinfo {
    grid-area: mae-info;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
}

.grid-school {
    grid-area: school;
    margin-top: 35px;
    border-top: 2px solid lightgray;
}

.grid-school h1 {
    margin: 40px 0 20px 0;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.grid-school table, th, td {
    font-family: 'Poppins', sans-serif;
    border: 1px solid lightgray;
    table-layout: fixed;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
    min-height: 8vh;
    background-color: rgb(233, 150, 122, 0.3);
}

